body{
    text-align: center;
    background-color: aquamarine;
    font-size: 42px;
    font-family: cursive;
}
.line{
    height:6px;
    background-color: black;
    width: 70px;
    margin: 8px auto;
}
img{
    transition: transform .2s;
}
img:hover{
    transform: scale(0.9);
}